*,*::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size:170px;
    --board-size:500px;
}

body{
    margin:0;
}

div{
    border:  1px solid white;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.XO{
    display: grid;
}
.board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
;
    align-content: center;
    justify-content: center;
    width:var(--board-size);
    height:var(--board-size);
    color: white;
    cursor: pointer;
}
.taken{
    cursor: not-allowed;
}

.free{

    color: rgba(255, 255, 255, 0.397)
}
#turn{
    background-color: aquamarine;
}

.win{
    background-color: aquamarine;
}
.board>*{
background-color: black;
text-align: center;
/* padding-top: 50px; */
width: var(--cell-size);
height:var(--cell-size);
font-size: 150px;
font-family:  Arial
}

.winning-message{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem ;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .60em .5em;
    cursor: pointer;
    transition: 0.3s;
}

.winning-message button:hover{
    background-color: black;
    border: 1px solid white;
    color: white  ;
}


.winning-message.show{
    display: flex;
}